.desktop_none {
    display: none;
}

.mobile_none {
    display: block;
}


.dash_title {
    color: var(--dark-h, #162222);

    /* Desktop/H2 */
    font-family: "Libre Baskerville";
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.dash_subtitle {
    color: var(--Grayscale-700, #656565);

    /* Desktop/Body/P */
    font-family: 'Afacad';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}
.dash_subtitle span {
    color: var(--Grayscale-700, #656565);

    /* Desktop/Body/P */
    font-family: 'Afacad';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.dash_subtitle a {
    color: var(--Functional-Info-Blue, #005BB9);

    /* Desktop/Body/P */
    font-family: 'Afacad';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.dash_left_inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    max-width: 312px;
}
.dash_left_outer {
    max-width: 394px;
    margin-left: auto;
}
section.dashboard_page {
    margin-top: 88px;
}
.dash_tab_btn_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
}
.btn_dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border: 1px solid var(--Gold, #BA8B4A);
    background: var(--Grayscale-White, #FFF);
    border-radius: 0px;
    color: var(--dark-h, #162222);
    font-family: 'Afacad';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.btn_dash.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border: 1px solid var(--Gold, #BA8B4A);
    opacity: 0.6;
    background: var(--Brand-Light-Yellow, #FFF6E1);
    border-radius: 0px;
    color: var(--dark-h, #162222);
    font-family: 'Afacad';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.dashboard_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 0px;
    position: relative;
}
.dash_left {
    padding: 120px 80px 120px 0px;
    width: 42%;
}
.dash_right {
    padding: 160.5px 80px 170.5px 80px;
    background: linear-gradient(to right, #F9F9F9, #F7F7F7);
    width: 58%;
}
.dash_right_inner {
    max-width: 754px;
    margin-right: auto;
}
.account_input_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px 40px;
}
.main_input_div {
    width: 100%;
    max-width: 357px;
    padding: 8px 0px 16px 0px;
}
form.dash_acc_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    margin-bottom: 0px;
}
.dash_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}
.cl1 {
    position: absolute;
    left: 0px;
    top: 0px;
}
.cl2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}


@media only screen and (max-width: 700px) {
    .mobile_none {
        display: none;
    }

    .desktop_none {
        display: block;
    }

    .dashboard_main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 0px;
    }
    section.dashboard_page {
        margin-top: 81px;
    }
    .dash_left {
        padding: 32px 24px 32px 24px;
        width: unset;        
        background: linear-gradient(to right, #F9F9F9, #F7F7F7);
    }
    .dash_left_inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 16px;
        max-width: unset;
    }
    .dash_title {
        color: var(--dark-h, #162222);
        text-align: center;

        /* Desktop/H3 */
        font-family: "Libre Baskerville";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }
    .mo_text_center {
        text-align: center;
    }
    .dash_right {
        padding: 0px 24px 24px 24px;
        background: linear-gradient(to right, #F9F9F9, #F7F7F7);
        width: unset;
    }
    .account_input_div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0;
    }
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    .mob_dash_tab_drop {
        position: relative;
    }
    .dropped_div_dash_menu {
        position: absolute;
        z-index: 2;
        top: 49px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 0px;
        width: 100%;
        border-right: 1px solid var(--Gold, #BA8B4A);
        border-bottom: 1px solid var(--Gold, #BA8B4A);
        border-left: 1px solid var(--Gold, #BA8B4A);
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    }
    .btn_dash_menu_drop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 16px;
        padding: 10px 16px;
        width: 100%;
        border-radius: 0px;
        border: 1px solid var(--Gold, #BA8B4A);
        background: var(--Grayscale-White, #FFF);
        color: var(--dark-h, #162222);
        font-family: 'Afacad';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }
    .btn_dash_menu_drop.active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 16px;
        padding: 10px 16px;
        width: 100%;
        border-radius: 0px;
        border: 1px solid var(--Gold, #BA8B4A);
        background: var(--Grayscale-White, #FFF);
        color: var(--dark-h, #162222);
        font-family: 'Afacad';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }
    .btn_dash {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 16px;
        gap: 16px;
        border: 0px;
        background: var(--Grayscale-White, #FFF);
        border-radius: 0px;
        color: var(--dark-h, #162222);
        font-family: 'Afacad';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        opacity: 1;
    }
    .btn_dash.active {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 16px;
        gap: 16px;
        border: 0px;
        background: var(--Brand-Light-Yellow, #FFF6E1);
        border-radius: 0px;
        color: var(--dark-h, #162222);
        font-family: 'Afacad';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        opacity: 0.6;
    }
    .dash_tc {
        color: var(--dark-h, #162222);

        /* Desktop/Body/CTA */
        font-family: 'Afacad';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 0px;
    }
    .cl1, .cl2 {
        display: none;
    }
}

@media only screen and (min-width: 780px) and (max-width:991px) {

}

@media only screen and (min-width: 992px) and (max-width: 1151px) {
    
}

@media only screen and (min-width: 1152px) and (max-width:1279px) {
    

}

@media only screen and (min-width: 1280px) and (max-width:1348px) {
    .main_input_div {
        width: 100%;
        max-width: 270px;
        padding: 8px 0px 16px 0px;
    }
    .cl1 {
        position: absolute;
        left: -45px;
        top: 0px;
    }
}

@media only screen and (min-width: 1349px) and (max-width:1439px) {
    .main_input_div {
        width: 100%;
        max-width: 291px;
        padding: 8px 0px 16px 0px;
    }
    .cl1 {
        position: absolute;
        left: -45px;
        top: 0px;
    }
}

@media only screen and (min-width: 1440px) and (max-width:1499px) {
    .main_input_div {
        width: 100%;
        max-width: 317px;
        padding: 8px 0px 16px 0px;
    }
}

@media only screen and (min-width: 1500px) and (max-width:1599px) {
    
}

@media only screen and (min-width: 1600px) and (max-width:1699px) {
    
}

@media only screen and (min-width: 1700px) and (max-width:1799px) {
    
}

@media only screen and (min-width: 1800px) and (max-width:1919px) {

}